global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'gateway'
    static_configs:
      - targets: ['gateway:8000']
    metrics_path: '/metrics'
    
  - job_name: 'compute'
    static_configs:
      - targets: ['compute:50051']
    metrics_path: '/metrics'
